*{
  padding: 0px;
  margin: 0px;
}

.films-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  max-width: 640px;
  margin: 0 auto;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
}

.film-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.add-film-wrapper {
  width: fit-content;
  margin: 0 auto;
}
