*{
  padding: 0px;
  margin: 0px;
}

.films-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.film-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-bottom: 3px solid black;
}

.add-film-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.add-film-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

.new-film-info {
  height: 35px;
  border-radius: 10px;
}

.description {
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

.add-film-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error-wrapper {
  width: 400px;
  height: 150px;
  margin: 0 auto;
  border: 3px solid gray;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.push-button {
  width: fit-content;
  cursor: pointer;
}

.add-film-button {
  width: fit-content;
  font-size: 30px;
  cursor: pointer;
  align-self: center;
}